@import url("https://fonts.googleapis.com.css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root {
  --main-color: #ef7819;
  --black: #141215;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  transition: width none;
}
.scroller {
  width: 300px;
  height: 100px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: var(--black);
}
html::-webkit-scrollbar-thumb {
  background: var(--black);
}

body {
  overflow-x: hidden;
  background: var(--black);
}

section {
  padding: 2rem 9%;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  padding: 3rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}
.header .navbar a.active,
.header .navbar a:hover {
  color: var(--main-color);
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}
.header .logo i {
  padding-right: 0.5rem;
  color: var(--main-color);
  animation: floating 3s linear infinite;
}
@keyframes floating {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
}
.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
  cursor: pointer;
}
.header .icons a:hover,
.header .icons div:hover {
  color: var(--main-color);
}

/* gets ride of the menu icon.display only for smaller screens */
#menu-btn {
  display: none;
}

.header .search-form {
  position: absolute;
  top: 115%;
  right: -105%;
  background: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  opacity: 0;
}

.header .search-form input {
  width: 100%;
  padding: 0 1.5rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
}
.header .search-form label {
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: var(--black);
  cursor: pointer;
}
.header .search-form label:hover {
  color: var(--main-color);
}
.header .search-form.active {
  right: 2rem;
  opacity: 1;
  transition: 0.4s linear;
}

.header.active {
  padding: 2rem 9%;
  background: #222;
}
.home {
  padding: 0;
}
.home .home-slider .box {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-size: cover !important;
  background-position: center !important;
}
.home .home-slider .box .content {
  text-align: center;
}
.home .home-slider .box .content h4 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: white;
  transition-delay: 2s;
}
.home .home-slider .box .content h3 {
  font-size: 5rem;
  color: #fff;
  transition-delay: 0.2s;
}
.home .home-slider .box .content p {
  font-size: 3rem;
  color: #fff;
  transition-delay: 0.4s;
  padding: 1rem 0;
}
.home .home-slider .box .content .button {
  transition-delay: 0.6s;
}
/* adding the slide show but first make the content disappear then reappear using js*/
/* all the tags here have a opacity of 0 meaning it appear invisible then it translated by the Y axis */
/* this hide the text and teh text comes from a direction */
.home .home-slider .box .content > * {
  transform: translateY(2rem);
  opacity: 0;
}
/* this makes the test reappear either higher or lower position */
.home .home-slider .swiper-slide-active .content > * {
  transform: translateY(0rem);
  opacity: 1;
}
/* shift the slider arrows,cahnge the color, and make them insivible until you hover over slider */
.home .home-slider .swiper-button-next {
  right: 4rem;
  color: #fff;
  opacity: 0;
}
/* shift the slider arrows,cahnge the color, and make them insivible until you hover over slider */
.home .home-slider .swiper-button-prev {
  left: 4rem;
  color: #fff;
  opacity: 0;
}

/* change the color of the arrows for the slider */
.home .home-slider .swiper-button-next:hover,
.home .home-slider .swiper-button-prev:hover {
  color: var(--main-color);
}
/* makes the arrows reappear when hovered */
.home .home-slider:hover .swiper-button-next,
.home .home-slider:hover .swiper-button-prev {
  opacity: 1;
}

.btn {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: #fff;
  color: var(--black);
  cursor: pointer;
}
.btn:hover {
  background: var(--main-color);
  color: #fff;
  letter-spacing: 0.1rem;
}

/* START OF THE PRODUCT CSS */
.heading {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
}
.heading span {
  color: var(--main-color);
}

.products .products-slider .box {
  position: relative;
  /* anything outsid the pic box shall be hidden (icons) */
  overflow: hidden;
  /* everything inside box is center(icons,span,div) */
  text-align: center;
  /* size of the box width */
}
/* measurements of the size of the box/image */
.products .products-slider .box .image {
  height: 40rem;
  width: 100%;
  overflow: hidden;
}
/* style the pictures/ actual sizing of the image used  */
.products .products-slider .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* when you hover over the pic in product sec, it will zoom in */
.products .products-slider .box:hover .image img {
  transform: scale(1.2);
}
/* places icons inside the pic box */
.products .products-slider .box .icons {
  position: absolute;
  top: 0;
  /* moves icons outside the pic box then returns with hover** */
  right: -6rem;
  /* when you hover/zoom in on pic icons stay in frame */
  z-index: 1;
}
/* hover over box shift the icons back into place */
.products .products-slider .box:hover .icons {
  right: 1rem;
}
/* center the icons  */
.products .products-slider .box .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--black);
  background: #fff;
  margin-top: 1rem;
  display: block;
}

/* icon hover color change */
.products .products-slider .box .icons a:hover {
  color: var(--main-color);
}

/* styles the content */
.products .products-slider .box .content {
  padding-top: 1rem 0;
}
.products .products-slider .box .content h3 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #fff;
}
.products .products-slider .box .content .price {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}
.products .products-slider .box .content .price span {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--main-color);
  /* text line has a line through it */
  text-decoration: line-through;
}

/* <!-- ABOUT SECTION STARTS HERE --> */

.about {
  background: url(..//images/about-bt.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.about .content {
  padding: 13rem 0;
  max-width: 50rem;
}
.about .content h3 {
  font-size: 3rem;
  color: var(--main-color);
}
.about .content p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2;
  padding: 1rem 0;
}

/* START OF ARRIVALS CSS */
.arrivals .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.arrivals .box-container .box {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.arrivals .box-container .box {
  position: relative;
  /* anything outsid the pic box shall be hidden (icons) */
  overflow: hidden;
  /* everything inside box is center(icons,span,div) */
  text-align: center;
  /* size of the box width */
}
/* measurements of the size of the box/image */
.arrivals .box-container .box .image {
  height: 45rem;
  width: 100%;
  overflow: hidden;
}
/* style the pictures/ actual sizing of the image used  */
.arrivals .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* when you hover over the pic in product sec, it will zoom in */
.arrivals .box-container .box:hover .image img {
  transform: scale(1.2);
}
/* places icons inside the pic box */
.arrivals .box-container .box .icons {
  position: absolute;
  top: 0;
  /* moves icons outside the pic box then returns with hover** */
  right: -6rem;
  /* when you hover/zoom in on pic icons stay in frame */
  z-index: 1;
}
/* hover over box shift the icons back into place */
.arrivals .box-container .box:hover .icons {
  right: 1rem;
}
/* center the icons  */
.arrivals .box-container .box .icons a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--black);
  background: #fff;
  margin-top: 1rem;
  display: block;
}

/* icon hover color change */
.arrivals .box-container .box .icons a:hover {
  color: var(--main-color);
}

/* styles the content */
.arrivals .box-container .box .content {
  padding-top: 1rem 0;
}
.arrivals .box-container .box .content h3 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #fff;
}
.arrivals .box-container .box .content .price {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}
.arrivals .box-container .box .content .price span {
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--main-color);
  /* text line has a line through it */
  text-decoration: line-through;
}

/* CONTACT CSS START */
.contact .row {
  /* all contact on one line wraps around each other */
  display: flex;
  flex-wrap: wrap;
}
.contact .row .map {
  flex: 1 1 42rem;
  width: 100%;
}
.contact .row form {
  flex: 1 1 42rem;
  padding: 2rem;
  text-align: center;
  background: #222;
}
.contact .row form h3 {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: var(--main-color);
}
.contact .row form .box {
  width: 100%;
  padding: 1rem 1.2rem;
  background: var(--black);
  color: #fff;
  text-transform: none;
  margin: 0.7rem 0;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}

/* <!-- BLOGS SECTION STARTS HERE --> */
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.blogs .box-container .box .image {
  height: 25rem;
  width: 100%;
  overflow: hidden;
}
.blogs .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}
.blogs .box-container .box .content {
  padding: 2rem;
  background: #222;
}
.blogs .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--main-color);
  line-height: 1.8;
}
.blogs .box-container .box .content p {
  font-size: 1.5rem;
  color: #fff;
  line-height: 2;
}
.blogs .box-container .box .content .icons {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #fff3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogs .box-container .box .content .icons a {
  font-size: 1.4rem;
  color: var(--main-color);
}
.blogs .box-container .box .content .icons a:hover {
  color: #fff;
}
.blogs .box-container .box .content .icons a i {
  padding-right: 0.5rem;
}

/* FOOTER CSS START HERE */

.footer {
  background: #000;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}
.footer .box-container .box a {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}
.footer .box-container .box a:hover {
  color: var(--main-color);
}
.footer .box-container .box i {
  padding-right: 0.5rem;
  color: var(--main-color);
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
  color: #fff;
}
.footer .credit {
  padding: 1rem;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  border-top: 0.1rem solid #fff3;
  font-size: 2rem;
  color: #aaa;
  text-align: center;
}
.footer .credit span {
  color: var(--main-color);
}
/*  */

/*  */

/*  */

/*  */
/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .header.active {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  /* when screen is this small menu icon reappear */
  #menu-btn {
    display: inline-block;
  }
  .header .search-form {
    width: 90%;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    /* clip means to hide */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  /* display nav links on new lines */
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  /* gets ride of the arrows for the slider for smaller screens */
  .home .home-slider .swiper-button-next,
  .home .home-slider .swiper-button-prev {
    display: none;
  }
}
